$colors: (
    poisonouspesticide: (
        50: hsl(120, 57%, 97%),
        100: hsl(120, 61%, 88%),
        200: hsl(120, 60%, 78%),
        300: hsl(120, 61%, 69%),
        400: hsl(120, 61%, 59%),
        500: hsl(120, 61%, 50%),
        600: hsl(120, 61%, 40%),
        700: hsl(120, 61%, 30%),
        800: hsl(120, 61%, 20%),
        900: hsl(120, 63%, 10%),
    ),
    red: (
        50: hsl(0, 100%, 97%),
        100: hsl(0, 100%, 88%),
        200: hsl(0, 100%, 78%),
        300: hsl(0, 100%, 69%),
        400: hsl(0, 100%, 59%),
        500: hsl(0, 100%, 50%),
        600: hsl(0, 100%, 40%),
        700: hsl(0, 100%, 30%),
        800: hsl(0, 100%, 20%),
        900: hsl(0, 100%, 10%),
    ),
    forsythia: (
        50: hsl(46, 100%, 97%),
        100: hsl(46, 100%, 88%),
        200: hsl(47, 100%, 78%),
        300: hsl(47, 100%, 69%),
        400: hsl(47, 100%, 59%),
        500: hsl(47, 100%, 50%),
        600: hsl(47, 100%, 40%),
        700: hsl(47, 100%, 30%),
        800: hsl(47, 100%, 20%),
        900: hsl(47, 100%, 10%),
    ),
    blueopal: (
        50: hsl(200, 13%, 95%),
        100: hsl(208, 12%, 79%),
        200: hsl(206, 13%, 63%),
        300: hsl(207, 15%, 47%),
        400: hsl(206, 29%, 31%),
        500: hsl(206, 74%, 15%),
        600: hsl(207, 74%, 12%),
        700: hsl(206, 74%, 9%),
        800: hsl(207, 73%, 6%),
        900: hsl(205, 86%, 3%),
    ),
    neutral: (
        50: hsl(260, 18%, 97%),
        100: hsl(210, 2%, 79%),
        200: hsl(200, 2%, 63%),
        300: hsl(216, 2%, 47%),
        400: hsl(210, 4%, 31%),
        500: hsl(210, 11%, 15%),
        600: hsl(210, 10%, 11%),
        700: hsl(204, 12%, 8%),
        800: hsl(220, 10%, 6%),
        900: hsl(210, 14%, 3%),
    )
);