@use 'colors' as *;

:root{
    @each $color, $shades in $colors {
        @each $shade, $value in $shades {
            --clr-#{$color}-#{$shade}: #{$value};
        }
    }

    --body-font: 'Inter', sans-serif;
    --display: 7.768rem;
    --title: 3.815rem;
    --subtitle: 3.052rem;
    --subtitle-h4: 2.441rem;
    --paragraph: 1.953rem;
    --details: 1.563rem;
    --smallest: 1.25rem;
}

/* Responsive typography */
@media only screen and (orientation: portrait)  {
    :root {
        --display: 4.8rem;
        --title: 3.052rem;
        --subtitle: 2.441rem;
        --subtitle-h4: 1.953rem;
        --paragraph: 1.563rem;
        --details: 1.25rem;
        --smallest: 1rem;
    }
}