@use '../global/variables';
.disclaimer {
    padding: 5rem 0;
    background-color: var(--clr-blueopal-500);

    .cnpj {
        justify-content: center;
        align-items: center;
        margin-bottom: 2.4rem;

        .logo {
            max-height: 3.2rem;
            object-fit: contain;
        }
    }

    p {
        text-align: center;
        color: var(--clr-neutral-50);
        line-height: 1.5;
        margin-top: 1.6rem;
    }
    .menu-footer{
        justify-content: center;
        align-items: center;
        margin-top: 3.2rem;
        margin-bottom: 3.2rem;
        column-gap: 2.4rem;
        
        a {
            color: var(--clr-forsythia-500);
            font-weight: 600;
            padding: 1.6rem 3.2rem;
            cursor: pointer;
            transition: background-color .8s ease;
            border-radius: .8rem;

            &:hover {
                background-color: var(--clr-blueopal-600);
            }
        }
    }
    .menu_sociais {
        justify-content: center;
        align-items: center;
    }

}